<h1>商品説明</h1>
<table>
  <tr>
    <td><%= ranking['itemName'] %></td>
    <td><%= ranking['itemPrice'] %></td>
    <td><img src="<%= ranking['mediumImageUrls'][0]['imageUrl'] %>"></td>
    <td><%= ranking['catchcopy'] %></td>
    <td><%= ranking['itemCaption'] %></td>
  </tr>
</table>
<a href="http://www.rakuten.co.jp/">ご購入はこちらから</a>
